<%- include('partials/header') %>


<div class="invalid">
<h1>Sorry! Invalid credentials.Please try again</h1>
<p><a href="/login">click here</a> to redirect to login page</p>
</div>


<%- include('partials/footer') %>
