
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.invalid{
  font-style:oblique;
  padding-top:100px;
  text-align: center;
  font-size: 2rem;
}
